<div style="height: 100%; width: 100%">
    <mat-toolbar color="primary" class="mat-toolbar toolbar">
        <div
            style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            "
        >
            <div
                style="display: flex; align-items: center"
                *ngIf="!editNameMode; else editMode"
            >
                <span>{{ room.name }}</span>
                <button mat-icon-button (click)="editNameMode = true">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <ng-template #editMode>
                <div style="display: flex; align-items: center">
                    <input
                        pInputText
                        [(ngModel)]="room.name"
                        type="text"
                        class="p-inputtext-sm"
                    />
                    <button mat-icon-button (click)="editNameMode = false">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </ng-template>
            <div>
                <p
                    style="margin: 0; cursor: pointer"
                    matTooltip="Prześlij ID pokoju innym użytkownikom by mogli się z Tobą połączyć"
                    (click)="copyRoomID()"
                >
                    ID pokoju: <span>{{ room.roomID }}</span>
                </p>
            </div>
        </div>
    </mat-toolbar>
    <div class="main-content">
        <div class="chat-container">
            <ng-container *ngFor="let message of room.messages">
                <app-message
                    [message]="message.text"
                    [isCurrentUserMessage]="message.isCurrenUserMessage"
                ></app-message>
            </ng-container>
        </div>
        <div class="input-container">
            <input
                pInputText
                type="text"
                class="p-inputtext-sm chat-input"
                placeholder="Aa"
                [(ngModel)]="message"
                (keyup.enter)="sendMessage()"
            />
            <button
                mat-flat-button
                class="mat-list-item"
                (click)="sendMessage()"
                type="submit"
            >
                <mat-icon matListIcon>send</mat-icon>
            </button>
        </div>
    </div>
</div>
