.toolbar {
    display: flex;
    align-items: center;

    height: 7%;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 93%;
}

.chat-input {
    width: 92%;
    border-radius: 40px;
}

.current-user-messages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 45px;
    padding: 5px;
}

.other-user-messages {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 45px;
    padding: 5px;
}
