<mat-drawer-container class="container" autosize>
    <mat-toolbar color="primary" class="mat-toolbar toolbar">
        <div
            style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            "
        >
            <div
                style="display: flex; align-items: center"
                *ngIf="!editNameMode; else editMode"
            >
                <span>{{ room.name }}</span>
                <button mat-icon-button (click)="editNameMode = true">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <ng-template #editMode>
                <div style="display: flex; align-items: center">
                    <input
                        pInputText
                        [(ngModel)]="room.name"
                        type="text"
                        class="p-inputtext-sm"
                    />
                    <button mat-icon-button (click)="editNameMode = false">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </ng-template>

            <button
                mat-icon-button
                aria-label="icon-button with menu icon"
                (click)="drawer.toggle()"
            >
                <mat-icon>info</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="main-content">
        <div #chatContainer class="chat-container">
            <ng-container *ngFor="let message of room.messages">
                <app-message
                    [message]="message.text"
                    [isCurrentUserMessage]="message.isCurrenUserMessage"
                    #message
                ></app-message>
            </ng-container>
        </div>
        <div class="input-container">
            <input
                pInputText
                type="text"
                class="p-inputtext-sm chat-input"
                placeholder="Aa"
                [(ngModel)]="message"
                (keyup.enter)="sendMessage()"
            />
            <button
                mat-flat-button
                class="mat-list-item"
                (click)="sendMessage()"
                type="submit"
            >
                <mat-icon matListIcon>send</mat-icon>
            </button>
        </div>
    </div>
    <mat-drawer #drawer class="sidenav" mode="side" position="end" opened>
        <div class="drawer-inner-container">
            <div style="padding: 20px 0">
                <p style="font-weight: bold; text-align: center; font-size: 20px">
                    ID pokoju
                </p>
                <p
                    style="margin: 0; cursor: pointer"
                    matTooltip="Prześlij ID pokoju innym użytkownikom by mogli się z Tobą połączyć"
                    (click)="copyRoomID()"
                >
                    <span>{{ room.roomID }}</span>
                </p>
            </div>
            <button
                mat-raised-button
                class="mat-list-item"
                style="padding: 10px"
                (click)="leaveRoom()"
            >
                <p style="margin: 0">Opuść pokój</p>
                <mat-icon matListIcon>exit_to_app</mat-icon>
            </button>
        </div>
    </mat-drawer>
</mat-drawer-container>
