<div class="global-container">
    <div style="height: 6%">
        <app-header (menuButtonClick)="drawer.toggle()"></app-header>
    </div>
    <div style="height: 94%">
        <mat-drawer-container class="container" autosize>
            <mat-drawer #drawer class="sidenav" mode="side" opened>
                <mat-selection-list
                    (selectionChange)="onSelectOptionMenu($event)"
                    class="nav-list"
                    [multiple]="false"
                >
                    <mat-list-option [value]="1" selected>
                        Strona główna
                    </mat-list-option>
                    <mat-divider class="divider"></mat-divider>
                    <ng-container *ngFor="let room of rooms; let i = index">
                        <mat-list-option
                            [value]="i + 2"
                            [selected]="optionMenu === i + 2"
                        >
                            {{ room.name }}
                        </mat-list-option>
                    </ng-container>
                    <mat-divider class="divider"></mat-divider>
                    <button
                        mat-flat-button
                        class="mat-list-item"
                        (click)="addRoom()"
                    >
                        <mat-icon matListIcon>add</mat-icon>
                    </button>
                </mat-selection-list>
            </mat-drawer>

            <div class="sidenav-content">
                <container-element [ngSwitch]="optionMenu">
                    <app-main-page *ngSwitchCase="1"></app-main-page>
                    <ng-container *ngFor="let room of rooms; let i = index">
                        <app-room *ngSwitchCase="i + 2" [room]="room"></app-room>
                    </ng-container>
                </container-element>
            </div>
        </mat-drawer-container>
    </div>
</div>
