<div style="height: 100%; width: 100%">
    <mat-toolbar color="primary" class="mat-toolbar toolbar">
        <span>Strona główna</span>
    </mat-toolbar>
    <div class="main-content">
        <div
            style="
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20%;
            "
        >
            <p style="font-size: 24px; text-align: center">
                Witaj na stronie przeznaczonej do czatowania. Stwórz pokój czatu i
                zaproś znajomych.
            </p>
        </div>
        <div style="display: flex; flex-direction: row">
            <div
                style="
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                "
            >
                <div style="width: 80%; display: flex; flex-direction: column">
                    <button mat-raised-button color="primary" style="margin: 10px 0">
                        Dodaj pokój
                    </button>
                    <button mat-raised-button color="primary" style="margin: 10px 0">
                        Dołącz do pokoju
                    </button>
                </div>
            </div>
            <div
                style="
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                "
            >
                <p>Aktualnie otwarte publiczne pokoje</p>
            </div>
        </div>
    </div>
</div>
